body {
    background: black url("starsbackground.jpg") no-repeat center center fixed;
    color: #fff;
    font-family: Arial, sans-serif;
}

header {
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #ff0000;
}

main {
    float: left;
    width: 70%;
    padding: 20px;
}

aside {
    float: right;
    width: 25%;
    padding: 20px;
    background-color: #444;
}

aside ul {
    list-style-type: none;
    padding: 0;
}

aside ul a {
    color: #ff0000;
    text-decoration: none;
}

aside ul a:hover {
    text-decoration: underline;
}